
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="#"><img src="{{ site.baseurl }}assets/images/logo-greenshoots.png" alt="Greenshoots"></a>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li class="menu-home"><a href="{{ site.baseurl }}/index.html">Home</a></li>
		<li class="menu-about"><a href="{{ site.baseurl }}about/index.html">About</a></li>
		<li class="menu-portfolio"><a href="{{ site.baseurl }}portfolio/index.html">Portfolio</a></li>
		<li class="menu-contact"><a href="{{ site.baseurl }}contact/index.html">Contact</a></li>
	  </ul>
	</div>
  </div>
</div>