
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="#"><img src="{{ site.baseurl }}assets/images/logo-greenshoots.png" alt="Greenshoots" style="margin-top:-40px; margin-bottom:-15px"></a>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li class="menu-home"><a href="{{ site.baseurl }}">Home</a></li>
		<li class="menu-about"><a href="{{ site.baseurl }}about/">About</a></li>
		<li class="menu-portfolio dropdown">
			<a href="{{ site.baseurl }}portfolio/" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="{{ site.baseurl }}portfolio/">All photos</a></li>
				<li class="divider"></li>
				<li><a href="{{ site.baseurl }}portfolio/architecture/">Architecture</a></li>
				<li><a href="{{ site.baseurl }}portfolio/industry/">Industry</a></li>
				<li><a href="{{ site.baseurl }}portfolio/natural-world/">Natural World</a></li>
				<li><a href="{{ site.baseurl }}portfolio/people/">People</a></li>
				<li><a href="{{ site.baseurl }}portfolio/science-technology/">Science and Technology</a></li>
			</ul>
		</li>
		<li class="menu-contact"><a href="{{ site.baseurl }}contact/">Contact</a></li>
	  </ul>
	</div>
  </div>
</div>