
body {
  font-size: 16px;
  line-height: 1.428571429;
  padding-top: 30px;
}

body.home .menu-home a,
body.about .menu-about a,
body.portfolio .menu-portfolio a,
body.contact .menu-contact a ,
body.news .menu-news a{
  color: #555555;
  background-color: #e7e7e7;
}

h1, h2, h3 { color: #336633 }

.img-responsive {
    max-height: 80%;
    height: auto;
}

.photo{
    text-align: center;
}

.photo .img-responsive{
    margin: 0 auto 1em;
}

.photo p, .photo caption{
    font-size: 0.9em;
}

.photonav {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    font-size: .8em;
}

.photonav li {
    padding: 0;
    margin: 0;
    display: block;
    width: 50%;
}

.photonav .previous {
    float: left;
}

.photonav .next {
    float: right;
}

.navbar-default,
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
     background-color:  #FFF;
     border: none;
}

.footer {
    margin: 2em auto;
    font-size: 0.8em;
    xtext-align: center;
    color: #808080;
}
         
         
         
