<html>
<head>
<title>Moved to new URL: {{ site.baseurl }}{{ page.newpath }}</title>
<meta http-equiv=refresh content="0; url={{ site.baseurl }}{{ page.newpath }}" />
<link rel="canonical" href="{{ site.url }}{{ page.newpath }}" />
<meta name="robots" content="noindex,follow" />
</head>
<body>
<h1>This page has been moved to {{ site.baseurl }}{{ page.newpath }}</h1>
<p>If your browser doesn't redirect you to the new location please <a href="{{ site.baseurl }}{{ page.newpath }}"><b>click here</b></a>.</p>
</body>
</html>