<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="sam@elliz.com">
    <link rel="shortcut icon" href="{{ site.baseurl }}favicon.png">
      <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}assets/css/bootstrap.css" rel="stylesheet">
	<link href="{{ site.baseurl }}assets/css/greenshoots.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ site.baseurl }}assets/css/blueimp-gallery.min.css">
	
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}assets/js/html5shiv.js"></script>
      <script src="{{ site.baseurl }}assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="{{ page.section }}">
    {% include menu.html %}

    <div class="container">
        <div class="row clearfix">
        {{ content }}
        </div>

        <div class="row">
        {% include footer.html %}
       
        </div>


	</div> <!-- /container -->

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

    <script src="{{ site.baseurl }}assets/js/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>

            <script src="{{ site.baseurl }}assets/js/blueimp-gallery.min.js"></script>

      <script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
  </body>
</html>
