<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="sam@elliz.com">
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}assets/css/greenshoots.css" rel="stylesheet">
	
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}assets/js/html5shiv.js"></script>
      <script src="{{ site.baseurl }}assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="{{ page.section }}">
    {% include menu.html %}

    <div class="container">

    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 ">
        {{ content }}

        {% include footer.html %}
        
        </div>
    </div>
    
	
	
	</div> <!-- /container -->

    <script src="{{ site.baseurl }}assets/js/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
  </body>
</html>
