<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="sam@elliz.com">
    <link rel="shortcut icon" href="{{ site.baseurl }}favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}assets/css/bootstrap.css" rel="stylesheet">
	<link href="{{ site.baseurl }}assets/css/greenshoots.css" rel="stylesheet">
{% if page.gallery == true %}
      <link rel="stylesheet" href="{{ site.baseurl }}assets/css/blueimp-gallery.min.css">
{% endif %}
	
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}assets/js/html5shiv.js"></script>
      <script src="{{ site.baseurl }}assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="{{ page.section }}">
    {% include menu.html %}

    <div class="container" role="main">
        <div class="row clearfix">
        {{ content }}
        </div>

        {% include footer.html %}

	</div> <!-- /container -->

<script src="{{ site.baseurl }}assets/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>

{% if page.gallery == true %}

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <!--<h3 class="title"></h3>-->
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<script src="{{ site.baseurl }}assets/js/blueimp-gallery.min.js"></script>

<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>       
{% endif %}
 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45864617-1', 'elliz.github.io');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Droid+Sans:400,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  </body>
</html>
