<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="sam@elliz.com">
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}assets/css/bootstrap.css" rel="stylesheet">
	<link href="{{ site.baseurl }}assets/css/greenshoots.css" rel="stylesheet">
	
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}assets/js/html5shiv.js"></script>
      <script src="{{ site.baseurl }}assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="{{ page.section }}">
    {% include menu.html %}

    <div class="container photo">


{% assign cur_tag = page.tags[0] %}
{% assign found = false %}
{% assign catg_posts = site.categories.portfolio %}

{% for post in catg_posts %}
    {% assign cur_post_tag = post.tags[0] %}
    {% if cur_post_tag == cur_tag %}
        
        {% if found == true %}
            {% assign next_post = post %}
            {% assign found = false %}
        {% endif %}

        {% if post.photo == page.photo %}
            {% assign prev_post = prev %}
            {% assign found = true %}
        {% endif %}

        {% assign prev = post %}
        
    {% endif %}
    
{% endfor %}

        <div class="photo-wrapper">
        {% if next_post != null %}
        <a href="{{ site.baseurl }}{{ next_post.url }}" title="Next image">
        {% else %}
        <a href="{{ site.baseurl }}" title="Home">
        {% endif %}
		<img src="../../assets/photos/{{ page.photo }}" alt="{{ page.title }}" class="img-responsive" /></a>
        </div>

        <p>{{ page.title }}</p>

        <div>
        {{ content }}
		</div>

                <ul class="photonav clearfix">
{% unless prev_post == null %}
            <li class="previous">
            <a href="{{ site.baseurl }}{{ prev_post.url }}">&larr; Previous</a>
            </li>
{% endunless %}
{% unless next_post == null %}
                <li class="next">
                <a href="{{ site.baseurl }}{{ next_post.url }}">Next &rarr;</a>
                </li>
{% endunless %}
        </ul>

	{% include footer.html %}
			
    </div> <!-- /container -->

    <script src="{{ site.baseurl }}assets/js/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
  </body>
</html>
