<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="sam@elliz.com">
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}assets/css/greenshoots.css" rel="stylesheet">
	
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}assets/js/html5shiv.js"></script>
      <script src="{{ site.baseurl }}assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="{{ page.section }}">
    {% include menu.html %}

    <div class="container photo">
		
<ul>
{% for category in site.categories %}
    {% assign catg_name = category.first %}
    {% if catg_name == page.tags %}
        {% assign catg_posts = category.last %}
    {% endif %}
{% endfor %}
{% for post in catg_posts %}
    {% if post.title == page.title %}
        {% unless forloop.last %}
            {% assign next = catg_posts[forloop.index] %}
            <li class="previous">
            <a href="{{ site.baseurl }}{{ next.url }}">&larr;{{ next.title }}</a>
            </li>
        {% endunless %}
        {% unless forloop.first %}
            <li class="next">
            <a href="{{ site.baseurl }}{{ prev.url }}">{{ prev.title }}&rarr;</a>
            </li>
        {% endunless %}
    {% endif %}
    {% assign prev = post %}
{% endfor %}
</ul>
				
		<img src="../../assets/photos/{{ page.photo }}" alt="{{ page.title }}" class="img-responsive" />
	
        <p>{{ page.title }}</p>

        <div>
        {{ content }}
		</div>

	{% include footer.html %}
			
    </div> <!-- /container -->

    <script src="{{ site.baseurl }}assets/js/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
  </body>
</html>
