---
layout: base
gallery: true
footerleft: true
---

{% assign cur_tag = page.tags[0] %}
{% assign found = false %}
{% assign catg_posts = site.categories.portfolio %}

{% for post in catg_posts %}
    {% assign cur_post_tag = post.tags[0] %}
    {% if cur_post_tag == cur_tag %}
        
        {% if found == true %}
            {% assign next_post = post %}
            {% assign found = false %}
        {% endif %}

        {% if post.photo == page.photo %}
            {% assign prev_post = prev %}
            {% assign found = true %}
        {% endif %}

        {% assign prev = post %}
        
    {% endif %}
    
{% endfor %}

        <div class="photo-wrapper">
        {% if next_post != null %}
        <a href="{{ site.baseurl }}{{ next_post.url | remove_first:'/' }}" title="Next image">
        {% else %}
        <a href="{{ site.baseurl }}" title="Home">
        {% endif %}
		<img src="../../assets/photos/{{ page.photo }}" alt="{{ page.title }}" class="img-responsive" /></a>
        </div>

        <p>{{ page.title }}</p>

        <div>
        {{ content }}
		</div>

                <ul class="photonav clearfix">
{% unless prev_post == null %}
            <li class="previous">
            <a href="{{ site.baseurl }}{{ prev_post.url | remove_first:'/' }}">&larr; Previous</a>
            </li>
{% endunless %}
{% unless next_post == null %}
                <li class="next">
                <a href="{{ site.baseurl }}{{ next_post.url | remove_first:'/' }}">Next &rarr;</a>
                </li>
{% endunless %}
        </ul>


